@font-face {
  font-family: 'SERAFIM+slovo';
  src: url('../../assets/fonts/SERAFIM+slovo.woff2') format('woff2');
}

@font-face {
  font-family: 'SERAFIM_LOGOS';
  src: url('../../assets/fonts/SERAFIM_LOGOS.woff2') format('woff2');
}

